<link href="https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap" rel="stylesheet">*/

/*font-family: 'Lemonada', cursive; light 300 regular 400 medium 500semi-bold 600 bold 700*/
<link href="https://fonts.googleapis.com/css?family=Lemonada:300,400,500,600,700&display=swap&subset=arabic" rel="stylesheet"> 
@font-face {
		    font-family: 'kob';
		    src: url('../fonts/Lato/Lato-Black.ttf');
		    src: url('../Fonts/Lato/Lato-BlackItalic.ttf'),
		         url('../fonts/Lato/Lato-Bold.ttf'),
		         url('../fonts/Lato/Lato-BoldItalic.ttf'),
		         url('../fonts/Lato/Lato-Regular.ttf'),
		         url('../fonts/Lato/Lato-Light.ttf');
		    font-weight: normal;
		    font-style: normal;

		}

@media only screen and (max-width: 500px){
	body header{ 
	text-align: center;	
	}

	#logo_word{
		/*position: absolute;
		top:2%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;*/

	}
}

@media only screen and (max-width: 768px){
	body header{
		display: grid;
		/*grid-template-rows: 500px;*/
		text-align: center;
	}
	body header .inscription h1{
		font-size: 85px;
	}
	body header .inscription h2{
		font-size: 35px;
	}
}

@media (min-width: 768px) {
	body header{
		display: grid;
		/*grid-template-rows: 500px;*/
		text-align: center;
	}
	body header .inscription h1{
		font-size: 230px;
	}
}





header{
	position: relative;
	display: grid;
	grid-template-columns: 1fr; 
	grid-auto-rows: 1fr;
	height: 100vh;
}
.logo{
	position: absolute;
	top: 8%;
	left: 12%;
}

#logo_word{
	padding: 20px 15px;
	background: black;
	font-size: 30px;
	font-family: Arial, serif;
	color: lightblue;
	cursor:pointer;
	text-decoration: none;
	border-radius: 20%;
}

.menu {
	position: absolute;
	right: 15vw;
	top:7vh;
	cursor:pointer;
	font-size: 25px;
}

.popUpBg{
	position: fixed;
	background: rgba(19,22,25,0.9);
	width: 100%;
	height: 100%;
	z-index: 5;
	display: none;
	/*при стилизации меню блок*/
}
#closePopUp{
	position: absolute;
	top:15%;
	right: 25%;
	color:#fff;
	font-size: 25px;
	cursor:pointer;
}
		/*MENU*/
#openPopUp{
	font-size: 15px;
	font-family: 'Lemonada';
	color: lightblue;
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
	border-bottom: 2px solid steelblue;
	border-top: 2px solid steelblue;
	transition: all 1s;
}

#openPopUp:hover{
	border-bottom: 4px solid steelblue;
	border-top: 4px solid steelblue;
}
		/*SLIDER*/

.img1,.img2,.img3,.img4{
	width: 100%;
	height: 100%;
	background: url(../images/sliderItem1.jpg) no-repeat 25%/cover;
}
.img2{
	background: url(../images/sliderItem2.jpg) no-repeat 0/cover;
}
.img3{
	background: url(../images/sliderItem3.jpg) no-repeat 0/cover;
}
.img4{
	background: url(../images/sliderItem4.jpg) no-repeat 0/cover;
}
.sliderDots{
	position: absolute;
	bottom: 1%;
	left:50%;
	transform:translate(-50%,-10%);
}
.dot{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #000;
	display: inline-block;
}
.dot-active{
	background: #fff;
}
			/*POP-UP MENU*/
#inDaHouse{
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

#inDaHouse ul:first-child{
	display: flex;
	padding-bottom: 30px;
}
#inDaHouse ul:first-child li {
	font-size: 50px;
	color: #626262;
	text-decoration: none;
	cursor: pointer;
}

#inDaHouse ul:first-child li:not(:last-child){
	padding-right: 50px;
}


#inDaHouse ul:last-child li a{
	font-size: 50px;
	color: #626262;
	text-decoration: none;
}

#inDaHouse ul:last-child li:not(:last-child){
	padding-bottom: 30px;
}

#inDaHouse ul:first-child li a:hover, #inDaHouse ul:last-child li a:hover{
	color: #fff;
	border-bottom: 3px solid;
}
		/*Второй попап*/

#SingUpForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 400px;
	min-height: 500px;
}

#SingUpForm input:not(:last-child){
	width: 200px;
	height: 30px;
	font-size: 22px;
	margin-bottom: 25px;
	color: #000000;
}

.popUpSecForm{
	display: none;
	position: fixed;
	width: 400px;
	min-height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: lightblue;
	text-align:center;
	z-index: 15;
}

#registrSubmit{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	border:3px gray;
	border-radius: 10%;
	cursor: pointer;
	width: 100px;
	height: 30px;
}

#resbutton{
	border:3px gray;
	border-radius: 10%;
	cursor: pointer;
	width: 100px;
	height: 30px;
}

#closeSingUp{
	cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
}

#closeSingUp:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2px;
    height: 30px;
    background: #000;
}

#closeSingUp:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2px;
    height: 30px;
    background: #000;
}

						/*Third попап*/

#SingInForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 400px;
	min-height: 500px;
}

#SingInForm input:not(:last-child){
	width: 200px;
	height: 30px;
	font-size: 22px;
	margin-bottom: 25px;
	color: #000000;
}

.popInThirdForm{
	display: none;
	position: fixed;
	width: 400px;
	min-height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:  #ffe5b4;
	text-align: center;
	z-index: 15;
}

/*button submit sing*/
#registrTsird{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	border:3px gray;
	cursor: pointer;
	border-radius: 10%;
	width: 100px;
	height: 30px;
}

#closeSingIn{
	cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
}

#closeSingIn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2px;
    height: 30px;
    background: #000;
}

#closeSingIn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2px;
    height: 30px;
    background: #000;
}

/*winnerText registration*/

#winnerText{
	 position: fixed;
	 top:10%;
	 left:50%;
	 font-size: 30px;
	 z-index: 25;
	 color: blue;
	 transform:translate(-10%,-50%);
	 display: block;
}
		/* надпись SMILE*/

.inscription{
	position: absolute;
	top: 28%;
	right: 8%;
}

.inscription h1{
	font-size: 220px;
	font-family: 'Lato'
	/*color: #fff;*/
	text-shadow: -1px -1px #000,
               0 1px 0 #444;
    color: lightblue;
    transition: all 1s;
    border-bottom: 2px solid steelblue;
    border-top: 2px solid steelblue;
   	text-decoration: none;
	position: relative;
}

.inscription h1:before{
	content: "";
    width: 1px;
    background: blue;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

h1:hover:before{
	height: 100%;
}

h1:after{
	content:"";
	width: 1px;
	background: blue;
	height: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all 1s ease;
}

h1:hover:after{
	height: 100%;
}

h1:hover {
    text-shadow: -1px -1px #000,
               0 1px 0 #444;
    color: cyan;
    border-bottom-width: 100%;
 }


.inscription h2{
	font-size: 64px; 
	color: #fff;
	 /*transition: all 1s;*/
	text-shadow: -8px -8px 0 hsl(200,100%,35%),
               -7px -7px 0 hsl(200,100%,55%),
               -6px -6px 0 hsl(200,100%,60%),
               -5px -5px 0 hsl(200,100%,65%),
               -4px -4px 0 hsl(200,100%,70%),
               -3px -3px 0 hsl(200,100%,75%),
               -2px -2px 0 hsl(200,100%,80%),
               -1px -1px 0 hsl(200,100%,85%),
               0 0 0 hsl(200,100%,95%);
  color: transparent;
  transition: all 1s;
}

h2:hover {
    text-shadow: -8px 8px 0 hsl(80,100%,35%),
             -7px 7px 0 hsl(80,100%,55%),
             -6px 6px 0 hsl(80,100%,60%),
             -5px 5px 0 hsl(80,100%,65%),
             -4px 4px 0 hsl(80,100%,70%),
             -3px 3px 0 hsl(80,100%,75%),
             -2px 2px 0 hsl(80,100%,80%),
             -1px 1px 0 hsl(80,100%,85%),
             0 0 0 hsl(80,100%,95%);
  color: transparent;
 }

/*================SECOND PAJE===================*/

.mainBlock{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.secondPajediv1{
	grid-area: 1 / 1 / 2 / 5;
}
.firstH3firstPart{
	font-size: 60;
	font-weight: thin;
	text-align: center;
}
.secondH3firstPart{
	font-size: 60;
	font-weight: bold;
	text-align: center;
}
.secondPajediv2text{
	 grid-area: 2 / 1 / 3 / 3;
}

.secondPajediv3pictures{
	 grid-area: 2 / 3 / 3 / 5;
}
.secondPajediv4inscript{
	grid-area: 3 / 1 / 4 / 5;
}
.secondPajediv5text1{
	grid-area: 4 / 1 / 5 / 3;
}
.secondPajediv6text2{
	grid-area: 4 / 3 / 5 / 5;
}
.secondPajediv7text3{
	grid-area: 5 / 1 / 6 / 3;
}
.secondPajediv8text4{
	grid-area: 5 / 3 / 6 / 5;
}
.secondPajediv9button{
	grid-area: 6 / 1 / 7 / 5; 
}
/*.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 2 / 3 / 3 / 5; }
.div4 { grid-area: 3 / 1 / 4 / 5; }
.div5 { grid-area: 4 / 1 / 5 / 3; }
.div6 { grid-area: 4 / 3 / 5 / 5; }
.div7 { grid-area: 5 / 1 / 6 / 3; }
.div8 { grid-area: 5 / 3 / 6 / 5; }
.div9 { grid-area: 6 / 1 / 7 / 5; }
*/